body {
    background: linear-gradient(129deg, #def5e5, #8ec3b0, #ffffff);
    background-size: 180% 180%;
    min-height: 100vh;
    animation: gradient-animation 12s ease infinite;
    background-repeat: no-repeat;
    color: #333333;
    margin-top: 1rem;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    border-radius: 1rem;
    width: 50rem;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-content{
    display: flex;
    gap: 1rem;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.navbar{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    justify-content: center;
    gap: 3rem;
    left: 0;
    position: fixed;
    background: #fff;
    top: 0;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}
#web-title{
    top: 0;
    position: absolute;
    margin-top: 2rem;
    font-family: 'Just Another Hand', cursive;
    font-size: 4rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

#web-title>a{
    text-decoration: none;
    color: black;
    margin-top: 1rem;
}

.link>a:hover{
    text-decoration: underline;
}

.navbar>a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.link>a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 1rem;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}