body{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.landing-container{
    display: flex;
    gap: 14rem;
    flex-direction: column;
}
.heading{
    color: white;
    font-size: 7rem;
    font-family: 'Just Another Hand', cursive;
}
.heading>p{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.links{
    display: flex;
    justify-content: center;
    gap: 6rem;
    font-size: 3.5rem;
    font-family: 'Just Another Hand', cursive;
}