#videoBG{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.landing-container{
    display: flex;
    gap: 14rem;
    flex-direction: column;
}
.heading{
    color: white;
    font-size: 7rem;
    font-family: 'Just Another Hand', cursive;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.heading>p{
    margin-top: 9rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.links{
    display: flex;
    justify-content: center;
    gap: 6rem;
    font-size: 3.5rem;
    font-family: 'Just Another Hand', cursive;
}
.links>a:hover{
    text-decoration: underline;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}