{% extends "layout.html" %}
{% block content %}
<h3>Hii {{current_user.username}}!</h3>
{% for post in posts %}
<article class="media content-section">
    <div style="display: flex; flex-direction: row; margin-bottom: 0.2rem;">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile-pics/' + post.author.image_file) }}"/>
        <div class="article-metadata">
            <h5 class="mr-2">{{ post.author.username }}</h5>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
    </div>
    <div class="media-body">
        <div class="article-content">
            <img src="../static/blog-pics/{{ post.blog_image }}" style="height: 10rem; width: 15rem" />
            <div style="display: flex; flex-direction: column">
                <h2><a class="article-title" href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </div>
    </div>
</article>
{% endfor %}
{% endblock content %}