<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/landing.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
    <title>TravelLog</title>
</head>
<style>
    a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
</style>
<body>
    <div class="landing-container">
        <video id="videoBG" autoplay muted loop>
            <source src="{{ url_for('static', filename='videos/video2.mp4') }}" type="video/mp4">
        </video>
        <div class="heading">
            <p>TRAVELOG</p>
        </div>
        <div class="links">
            <a href="{{url_for('register')}}">Signup</a>
            <a href="{{url_for('login')}}">Login</a>
        </div>
    </div>
</body>
</html>