<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login-img">
            <img src="../static/images/login-img.png" alt="">
        </div>
        <div class="login-form">
            <p style="font-size: 5rem;">LOGIN</p>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.submit }}
            </form>
            <a href="{{url_for('register')}}" style="text-decoration: none; margin-top: 1rem;">Dont have an account? Sign Up</a>
        </div>
    </div>
</body>
</html>